body {
  background-color: var(--color-bg-auth);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-form-new {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 15px;
  width: 380px;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  box-shadow: 0 4px 10px var(--color-shadow-light);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.dot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  animation: pulse 1.5s linear infinite;
}

.title-new {
  font-size: 28px;
  font-weight: 600;
  color: var(--color-primary);
  font-weight: 600;
  margin: 0;
  letter-spacing: -1px;
}

.message-new {
  color: var(--color-grey-dark);
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group {
  width: 100%;
}

.flex-row {
  display: flex;
  gap: 10px;
}

.input-new {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--color-text-lighter);
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.input-new:focus {
  border-color: var(--color-primary);
  outline: none;
}

.submit-new {
  border: none;
  outline: none;
  background-color: var(--color-primary);
  padding: 12px;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-new:hover {
  background-color: var(--color-primary);
  font-weight: 700;
}

.signin-new {
  text-align: center;
  color: var(--color-grey-dark);
  font-size: 14px;
}

.signin-new a {
  color: var(--color-primary);
  text-decoration: none;
}

.signin-new a:hover {
  color: var(--color-secondary);
  text-decoration: underline var(--color-secondary);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.5);
    /* حجم النبض */
    opacity: 0;
  }
}
