/*.live-readings-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}*/


.reading-card {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  background-color: #f7f7f7;
}

.reading-card h3 {
  color: #333;
  margin-top: 0;
}

.reading-card p {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 0;
}

.reading-card span {
  font-size: 0.5em;
  font-weight: normal;
  color: #777;
}


/*******************NavBar style*******************/
/* NAVBAR STYLE */
/*.navbar {
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    padding: 10px 30px;
    background-color: #282c34;
    border-radius: 10px;
    margin: 20px auto;
}

/* App.css (Modified) */

.App {
    /* 1. تحديد الارتفاع ليشمل كل الشاشة (إذا كان مطلوبًا) */
    min-height: 100vh;
    width: 100vw;
    /* 2. إزالة الهوامش الافتراضية للجسم */
    margin: 0;
    padding: 0;
    /* 3. تطبيق الخلفية الداكنة على كل التطبيق */
    background-color: #12121e; /* اللون الداكن من LiveReadings.css */
}


/*******************NavBar style*******************/
.navbar {
 display: flex;
 justify-content: space-between;
 width: 90%;  
 align-items: center;
 padding: 10px 30px;
 background-color: #282c34;
 border-radius: 10px;
 margin: 0px auto 20px auto; 
}

.logo {
    color: rgb(255, 0, 0);
    font-size: 24px;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}

.nav-link:hover {
    color: #61dafb;
}

body {
    margin: 0;
    padding: 0;
}