
.reading-card {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  background-color: #f7f7f7;
}

.reading-card h3 {
  color: #333;
  margin-top: 0;
}

.reading-card p {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 0;
}

.reading-card span {
  font-size: 0.5em;
  font-weight: normal;
  color: #777;
}


.App {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0px;
    background-color: #12121e; 
}


/*******************NavBar style*******************/
.navbar {
  display: flex;
  justify-content: space-between;
  width: 95vw;  
  align-items:center;
  padding: 10px 30px;
  border-radius: 10px;
  margin:auto; 
  /*margin-top: 10px;*/
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.823);
  background-color: #20232a;
}

.logo {
  font-size: 24px;
  margin: 0;
}

.logo-title {
    font-size: 30px;
    font-weight: 700;
    color: #00BFFF; 
    margin: 0;
}
.logo-title span {
    color:rgb(255, 173, 22); 
}
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out; 
  position: relative; 
}

.nav-link::after {
    content: ''; 
    position: absolute;
    width: 0; 
    height: 2px;
    bottom: -5px; 
    left: 0;
    background-color: rgb(255, 173, 22); 
    transition: width 0.3s ease-in-out; 
}

.nav-link:hover {
  color:#00BFFF; 
}

.nav-link:hover::after {
    width: 100%; 
}

body {
    margin: 0;
    padding: 0;
}