liveReadings.css
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  border-radius: 20px;
  position: relative;
  background-color: white;
  border: 1px solid #333;
}
.login-container .form {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}
.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color:  #7979c3;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #7979c3;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(0, 0, 0, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  color: rgb(255, 173, 22);
  text-decoration: underline rgb(255, 173, 22);
}

.signin a {
  color: #323276;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: white;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  max-width: 280px;
}

.form label .input + span {
  color: rgba(0, 0, 0, 0.69);
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}



.form label .input:focus + span,
.form label .input:valid + span {
  color: #7979c3;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #7979c3;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(255, 173, 22);
  font-weight: 700;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

