body {
    background-color: #0f0f16;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register-form-new {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 380px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 18px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: royalblue;
    border-radius: 50%;
    position: relative; 
    z-index: 2; 
}

.dot::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: royalblue;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    animation: pulse 1.5s linear infinite; 
}

.title-new {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin: 0;
}

.message-new {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group {
    width: 100%;
}

.flex-row {
    display: flex;
    gap: 10px;
}

.input-new {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.input-new:focus {
    border-color: royalblue;
    outline: none;
}

.submit-new {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-new:hover {
    background-color: rgb(56, 90, 194);
}

.signin-new {
    text-align: center;
    color: #666;
    font-size: 14px;
}

.signin-new a {
    color: royalblue;
    text-decoration: none;
}

.signin-new a:hover {
    text-decoration: underline;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2.5); /* حجم النبض */
        opacity: 0;
    }
}